{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
  <div class="row">
        <div class="col-md-3">
            <h2>Some text</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At risus viverra adipiscing at in. Turpis nunc eget lorem dolor sed viverra ipsum nunc aliquet. Cursus euismod quis viverra nibh cras pulvinar.</p>
        </div>
        <div class="col-md-6 bg-light">
            <h2>Ooh look text!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At risus viverra adipiscing at in tellus integer. Bibendum neque egestas congue quisque egestas. A lacus vestibulum sed arcu. Quam nulla porttitor massa id neque aliquam. Placerat in egestas erat imperdiet sed. Blandit massa enim nec dui nunc mattis enim. Libero justo laoreet sit amet cursus.</p><br><br><br>
        </div>
        <div class="col-md-3">
            <h2>...and even more text.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis auctor elit sed vulputate mi sit amet mauris. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque.</p>
        </div>
    </div>
{% endblock %}